<div class="container">
  <h2>Buscar Pokémon</h2>

  <input
    type="text"
    [(ngModel)]="nome"
    placeholder="Digite o nome do Pokémon"
  />
  <button (click)="buscarPokemon()">Buscar</button>

  <p *ngIf="erro" class="erro">{{ erro }}</p>

  <div *ngIf="pokemon" class="resultado">
    <h3>{{ pokemon.name | uppercase }}</h3>
    <img [src]="pokemon?.sprites?.front_default" alt="Imagem de {{ pokemon.name }}" />
    <p><strong>Altura:</strong> {{ pokemon.height }} </p>
    <p><strong>Peso:</strong> {{ pokemon.weight }} </p>
    <p><strong>Tipo:</strong> {{ pokemon.tipo }}</p>
    <p><strong>HP:</strong> {{ pokemon.hp }}</p>
    <p><strong>Ataque:</strong> {{ pokemon.ataque}}</p>
    <p><strong>Defesa:</strong> {{ pokemon.defesa}}</p>
    <p><strong>Habilidades:</strong> {{ pokemon.habilidades.join(', ') }}</p>
    <p><strong>Movimentos:</strong> {{ pokemon.movimentos.join(', ') }}</p>
  </div>
</div>
